/MainscikitLearn.toc
/.idea/.gitignore
/MainscikitLearn.aux
/MainscikitLearn.log
/MainscikitLearn.out
/MainscikitLearn.synctex.gz
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/scikit-learn.iml
/.idea/vcs.xml
